@media only screen and (max-width:768px) { 
 
   }

@media only screen and (min-width:1025px) {
  
}
@media only screen and (min-width:769) and (max-width:1024px){
  
   }

nav ul {
    list-style-type: none;
    margin: 0px; 
    padding: 0;
    border-radius: 5px ;
    overflow: hidden; 
    background-color: white; 
    box-shadow: 0px 2px 10px grey;
    height: 70px
} 

nav ul li {
    display: flex;
    width: max-content; 
}


nav ul li a {
    line-height: 60px;
    display: flex-inline;
    color: #57626b;
    padding: 10px 15px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

nav ul li a:hover {
    color: #1a73e8; 
}
li {
    float: left;
}
nav ul li:first-child a img {
    width: 50px; 
    height: auto;
    margin-top: 5px; 
}
footer{   
   width: 100%;
    position: absolute; 
    list-style-type: none;
    float: left;
    background: #f8f9fa;
    font-family: "Inter", sans-serif;
    color: #57626b;
    bottom: 0;

}


footer ul{
    list-style-type: none;
    padding: 0;
    border-radius: 5px ;
    overflow: hidden; 
    background-color: #f8f9fa; 
}

footer ul li a {
    line-height: 10px;
    display: flex-inline;
    color: #57626b;
    padding: 10px 15px; 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    background: #f8f9fa;
    text-align: center; 
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    justify-content: space-between;
}
.columna-miniaturas {
    display: flex;
    image-rendering: auto;
    margin:20px 800px 2px 100px;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
}
.miniaturas {
    border-radius: 50%;
    border-color: black;
    border:1px black solid;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-top: 20px;
}
.image-container {
    display: flex; 
    position:absolute;
    margin-top:0px;
    margin-left: 150px;
    text-align:left;
    padding-left:  150px;
    image-rendering: auto;
}
#earbuds {
    background: #f8f9fa;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    padding: 10px 5px 10px 5px;
    float: left;
    position:relative;
}
.container-title {
    font-family: "Inter", sans-serif;
    align-items: left;
    margin-right: 0.5px;
  
}
#container-title{
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-right: 10px;
}
.product-details{
    font-family: "Inter", sans-serif;
    color: #57626b;
    margin: 20px 25px 0px;
}


h4 {
    color:#57626b;
}
.Selectioncolor{
    padding: 50px;
    margin-bottom: 50px;
}


.circle{
    display: inline-block;
    border-radius: 50%;
    padding:5%;

}
#celeste {
    color:#e4eefd;
    background-color: #e4eefd;
    border: 1px solid#e4eefd;
  

}
#porcelana {
    background-color: #f5f1ec;
    border: 1px solid #f5f1ec;
    border-radius: 50%;
    margin-bottom: 50px;
}
#carbon{
    border: 1px solid #4d4c4d; 
    background-color: #4d4c4d;
}
#gris-niebla{
    border: 1px solid #dfe4ea;
    background-color: #dfe4ea;
}
#verde-lima{
    background-color: #eef3c1;
    border: 1px solid #eef3c1;
}
#coral{
    border: 1px solid #f08875;
    background-color: #f08875;
}
.cesta-container{
    background-color: #f8f9fa;
    border-radius: 10px;
    padding:20px 0px 20px;
    margin:0px 0px 5Px;
    height: 50%;
    

}
#number{
    margin:20px 10px;
    padding:  10px 15px;
    border-radius: 10px;
    border: 1px solid #57626b;
}
#cesta{
   padding:10px 100px ;
  border:1px solid #1a73e8;
  background-color: #1a73e8;
  color: white;
  border-radius: 10px;
}


.Delivers { 
     font-family: "Inter", sans-serif;
   color: #57626b;
   font-size: 20px;
   font-style: normal;

   
}
